Package: org.thebigboss.smoothpop
Name: SmoothPop
Depends: mobilesubstrate, firmware (>= 6.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Fade animation for keyboard letters popup.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
